.App-header {
  background-color: #181818;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: white;
  font-family: monospace;
}
h1 {
  text-align: center;
}

input {
  padding: 10px;
  width: 300px;
  border-radius: 5px;
}

button {
  background-color: rgb(255, 255, 72);
  padding: 10px;
  font-weight: bolder;
  border-radius: 5px;
}

button:hover {
  background-color: rgba(128, 128, 128, 0.493);
  cursor: pointer;
  box-shadow: 2px 2px 2px 0 black;
}
